<app-team-matches-modal
  [team]="selectedTeam()"
  [matches]="teamMatches()"
  [teams]="teams()"
  [isLoading]="isLoadingMatches()"
  (close)="closeMatches.emit()"
  (viewMatch)="viewMatchDetails($event)"
/>

@if (selectedMatchForDetails()) {
  <app-match-details-modal
    [match]="selectedMatchForDetails()!"
    [homeTeamName]="getTeamName(selectedMatchForDetails()!.homeTeamId)"
    [awayTeamName]="getTeamName(selectedMatchForDetails()!.awayTeamId)"
    (close)="closeMatchDetails()"
    (edit)="onEditMatch($event)"
    (delete)="onDeleteMatch($event)"
    (finish)="onFinishMatch($event)"
    (postpone)="onPostponeMatch($event)"
  />
}

@if (editingMatch()) {
  <app-match-form-modal
    [match]="editingMatch()"
    [teams]="teams()"
    (save)="onSaveMatch($event)"
    (close)="onCloseMatchForm()"
  />
}

@if (matchForResult()) {
  <app-match-result-modal
    [match]="matchForResult()!"
    [teams]="teams()"
    (save)="onSaveResult($event)"
    (close)="onCloseResultModal()"
  />
}
